[core]
        editor = vim
        autocrlf = false
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        type = cat-file -t
        dump = cat-file -p
        gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[pull]
        rebase = false
[push]
        autoSetupRemote = true